.container {
  border-radius: 5px;
  border: 3px solid #4b5159;
  width: 399px;
  height: 107px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  background-color: #171b22;
  border-bottom: 3px solid #4b5159;
  position: relative;
}

.header h3 {
  margin-left: 16px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.header button {
  border-radius: 5px;
  border: 2px solid #4b5159;
  background-color: #21262d;
  color: #ffffff;
  font-size: 12px;
  width: 113px;
  height: 30px;
  position: absolute;
  right: 8px;
  cursor: pointer;
}

.user {
  display: flex;
  margin-left: 16px;
}
