.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21.5px;
  margin-bottom: 50px;
}

.header img {
  width: 92px;
}

.textHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textHeader h1 {
  margin-bottom: 0px;
}

.textHeader p {
  margin-top: 10px;
  width: 390px;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.buttonCont {
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.button {
  background-color: #238636;
  border: 2px solid #37914a;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  width: 165px;
  height: 45px;
  cursor: pointer;
}

.error {
  display: flex;
  color: #2f7ff5;
}

@media only screen and (max-width: 877px) {
  .header {
    gap: 15px;
    margin-bottom: 25px;
    width: 340px;
  }
  .header img {
    width: 82px;
  }
  .textHeader {
    align-items: flex-start;
    text-align: left;
  }
  .textHeader p {
    margin-top: 5px;
    width: 255px;
  }
  .form {
    gap: 10px;
  }
  .buttonCont {
    margin-top: 10px;
    width: 340px;
  }
  .button {
    border-radius: 5px;
    font-size: 12px;
    width: 100px;
    height: 30px;
  }
}
