* {
  font-family: "HelveticaNeueCyr" !important;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: 100;
  src: local("HelveticaNeueCyr"),
    url(./assets/fonts/HelveticaNeueCyr-Light.woff2);
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: 200;
  src: local("HelveticaNeueCyr"),
    url(./assets/fonts/HelveticaNeueCyr-Roman.woff2);
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: 300;
  src: local("HelveticaNeueCyr"),
    url(./assets/fonts/HelveticaNeueCyr-Medium.woff2);
}

@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  src: local("HelveticaNeueCyr"),
    url(./assets/fonts/HelveticaNeueCyr-Bold.woff2);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #0d1117;
}

h1 {
  color: #ffffff;
  font-weight: 400;
  font-size: 28px;
}

h3 {
  color: #d9d9d9;
  font-weight: 300;
  font-size: 18px;
}

p {
  color: #7d8590;
  font-weight: 200;
  font-size: 16px;
}

@media only screen and (max-width: 877px) {
  h1 {
    font-size: 22px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}
